.logo {
	width: 30%;
}

body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
   	flex: 1 0 auto;
}

.fac {
	width: 100%
}

.carta {
	width: 100%;
	border: black;
}

.unfoot {
	color: #EB2B62;
} 