{% extends 'cuerpo/base.html' %}

{% block content %}

    {% load staticfiles %}

    <main>
        <ul class="pagination">
            <br>
            <center>
                <li class="disabled"><a href="{% url 'cuidado' %}"><i class="material-icons">chevron_left</i></a></li>
                <li class="waves-effect"><a href="{% url 'menuproductos' %}">Productos de Style & Design</a></li>
                <li class="waves-effect"><a href="{% url 'maquillaje' %}">Maquillaje</a></li>
                <li class="waves-effect"><a href="{% url 'barnices' %}">Barnices</a></li>
                <li class="waves-effect"><a href="{% url 'cuidado' %}">Cuidado Personal</a></li>
                <li class="active"><a href="{% url 'cabello' %}">Cuidado del Cabello</a></li>
                <li class="waves-effect"><a href="{% url 'perfumes' %}">Perfumes y Lociones</a></li>
                <li class="disabled"><a href="{% url 'perfumes' %}"><i class="material-icons">chevron_right</i></a></li>
            </center>
        </ul>

        <div class="container">
            <div class="row">
                <div class="col s12 m9 l12">
                    <div id="initialization" class="section scrollspy">
                        <p>Content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum porro esse pariatur
                            maxime explicabo officiis vitae ea odio minima quaerat omnis molestiae et recusandae dicta
                            voluptas in vero ex, iste. ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
                            officiis praesentium voluptatum laudantium, maxime, sit quia dignissimos recusandae cumque
                            aut ipsa facere impedit illum blanditiis dolore magni. Quibusdam, voluptatibus non. ipsum
                            dolor sit amet, consectetur adipisicing elit. Consequatur quidem voluptatum eum quisquam,
                            iure corrupti, laborum inventore velit adipisci modi provident vero assumenda numquam alias
                            expedita aperiam deleniti dolor molestiae.Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Aliquid quia et commodi. Voluptas voluptate quo natus, suscipit quis,
                            sequi doloremque fuga facilis doloribus itaque, repudiandae quaerat id, ab necessitatibus
                            incidunt?</p>
                        <div class="divider"></div>
                        <div class="section">
                            <h5 class="especial2">Cuidado del cabello</h5>
                            <p>Stuff</p>
                            <div class="row">
                                <div class="col s3">
                                    <div class="card">
                                        <div class="card-image waves-effect waves-block waves-light">
                                            <img class="activator" src="{% static 'cuerpo/img/cabello1.jpg' %}">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title activator grey-text text-darken-4">Ekos-Shampoo-Murumuru Natura®<br><br>  601<i
                                                    class="material-icons right">more_vert</i></span>
                                        </div>
                                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">¡Escudo protector!
                        <br>
                        <br>
                        <p>Tu cabello nuevo y reconstruido desde la primera aplicación.</p>
                        <br>
                        <div class="divider"></div> 
                        <br>
                        <p> 300 ml </p>
                        <p> $250.00 </p>
                        <i class="material-icons right">close</i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3">
                                    <div class="card">
                                        <div class="card-image waves-effect waves-block waves-light">
                                            <img class="activator" src="{% static 'cuerpo/img/cabello2.jpg' %}">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title activator grey-text text-darken-4">Ekos-Crema para peinar Natura®<br><br>  606<i
                                                    class="material-icons right">more_vert</i></span>
                                        </div>
                                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">¡Disminuye el Frizz!
                        <br>
                        <br>
                        <p>Reduce el quiebre del cabello y repara las puntas abiertas. 75% puntas reparadas.</p>
                        <br>
                        <div class="divider"></div> 
                        <br>
                        <p> 150 ml </p>
                        <p> $180.00 </p>
                        <i class="material-icons right">close</i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3">
                                    <div class="card">
                                        <div class="card-image waves-effect waves-block waves-light">
                                            <img class="activator" src="{% static 'cuerpo/img/cabello3.jpg' %}">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title activator grey-text text-darken-4">Plant-Perfume para cabello Natura®<br><br>  616<i
                                                    class="material-icons right">more_vert</i></span>
                                        </div>
                                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">¡De bolsillo!
                        <br>
                        <br>
                        <p>Ideal para llevar en tu bolsa y mantener tu cabello perfumado en cualquier momento del día..</p>
                        <br>
                        <div class="divider"></div> 
                        <br>
                        <p> 30 ml </p>
                        <p> $75.00 </p>
                        <i class="material-icons right">close</i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3">
                                    <div class="card">
                                        <div class="card-image waves-effect waves-block waves-light">
                                            <img class="activator" src="{% static 'cuerpo/img/cabello4.jpg' %}">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title activator grey-text text-darken-4">Plant-aceite de tratamiento capilar Natura®<br><br>  613<i
                                                    class="material-icons right">more_vert</i></span>
                                        </div>
                                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">¡Nutrición y brillo!
                        <br>
                        <br>
                        <p>Con complejo de 3 aceites nutritivos, restaura profundamente la fibra capilar devolviendo el brillo al cabello.</p>
                        <br>
                        <div class="divider"></div> 
                        <br>
                        <p> 100 ml </p>
                        <p> $145.00 </p>
                        <i class="material-icons right">close</i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
