{% extends 'cuerpo/base.html' %}

{% block content %}

    {% load staticfiles %}

    <main>
        <ul class="pagination">
            <br>
            <center>
                <li class="disabled"><a href="{% url 'barnices' %}"><i class="material-icons">chevron_left</i></a></li>
                <li class="waves-effect"><a href="{% url 'menuproductos' %}">Productos de Style & Design</a></li>
                <li class="waves-effect"><a href="{% url 'maquillaje' %}">Maquillaje</a></li>
                <li class="waves-effect"><a href="{% url 'barnices' %}">Barnices</a></li>
                <li class="active"><a href="{% url 'cuidado' %}">Cuidado Personal</a></li>
                <li class="waves-effect"><a href="{% url 'cabello' %}">Cuidado del Cabello</a></li>
                <li class="waves-effect"><a href="{% url 'perfumes' %}">Perfumes y Lociones</a></li>
                    <li class="disabled"><a href="{% url 'cabello' %}"><i class="material-icons">chevron_right</i></a></li>
                </li>
            </center>
        </ul>

        <div class="container">
            <div class="row">
                <div class="col s12 m9 l12">
                    <div id="structure" class="section scrollspy">
                        <p>Content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quas nam porro
                            quis. Blanditiis minus animi quos mollitia placeat dolorum corporis fugiat velit delectus
                            nisi quisquam eilorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ullam
                            debitis quibusdam necessitatibus sit facere non excepturi quasi esse, expedita, amet ducimus
                            suscipit cum quidem magni! Quibusdam debitis qui, fuga. ipsum dolor sit amet, consectetur
                            adipisicing elit. Accusantium voluptate dignissimos, minus iusto ex cupiditate numquam iste
                            perferendis, delectus incidunt, magni ad vitae consequatur sequi error atque impedit,
                            voluptatum vel. ipsum dolor sit amet, consectetur adipisicing elit. Quam numquam, beatae
                            vero maxime earum nemo vitae voluptate nulla recusandae odio, placeat dolore ea minus.
                            Libero fugit ratione voluptatum delectus distinctio. us, inventore aperiam at!</p>
                        <div class="divider"></div>
                        <div class="section">
                            <h5 class="especial2">Cuidado Personal</h5>
                            <p>Stuff</p>
                            <div class="row">
                                <div class="col s3">
                                    <div class="card">
                                        <div class="card-image waves-effect waves-block waves-light">
                                            <img class="activator" src="{% static 'cuerpo/img/pies.png' %}">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title activator grey-text text-darken-4">Sales Cristalinas Para Pedicure Pedirocks®<br><br>  500<i
                                                    class="material-icons right">more_vert</i></span>
                                        </div>
                                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">¡Pedicure Pedirocks!
                        <br>
                        <br>
                        <p>Suaviza las callosidades, mejora la circulación y descansa los pies con aroma terapia.</p>
                        <br>
                        <div class="divider"></div> 
                        <br>
                        <p> 500 mg </p>
                        <p> $103.00 </p>
                        <i class="material-icons right">close</i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3">
                                    <div class="card">
                                        <div class="card-image waves-effect waves-block waves-light">
                                            <img class="activator" src="{% static 'cuerpo/img/pies3.png' %}">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title activator grey-text text-darken-4">Immortelle Precious Cream Light ®<br><br>  501<i
                                                    class="material-icons right">more_vert</i></span>
                                        </div>
                                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">¡Para agresiones extremas!
                        <br>
                        <br>
                        <p>ayuda a alisar y reafirmar la piel, al tiempo que previene el daño causado por las agresiones externas.</p>
                        <br>
                        <div class="divider"></div> 
                        <br>
                        <p> 380 mg </p>
                        <p> $870.00 </p>
                        <i class="material-icons right">close</i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3">
                                    <div class="card">
                                        <div class="card-image waves-effect waves-block waves-light">
                                            <img class="activator" src="{% static 'cuerpo/img/pies2.png' %}">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title activator grey-text text-darken-4">Crema de Parafina Heel to toe®<br><br>  507<i
                                                    class="material-icons right">more_vert</i></span>
                                        </div>
                                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">¡Fácil de Utilizar!
                        <br>
                        <br>
                        <p>Suaviza y ayuda a remover las callosidades para revelar unos pies más blandos. Su aroma de menta ayuda a revigorizar y refrescar la piel para una sensación única.</p>
                        <br>
                        <div class="divider"></div> 
                        <br>
                        <p> 15 ml </p>
                        <p> $15.00 </p>
                        <i class="material-icons right">close</i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3">
                                    <div class="card">
                                        <div class="card-image waves-effect waves-block waves-light">
                                            <img class="activator" src="{% static 'cuerpo/img/pies4.jpg' %}">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title activator grey-text text-darken-4">Sales exfoliantes Natural Benefits®<br><br>  516<i
                                                    class="material-icons right">more_vert</i></span>
                                        </div>
                                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Fescura Total
                        <br>
                        <br>
                        <p>La mezcla de sales con aceite retira células muertas de la piel, preparándola para cualquier envoltura. Las sales estimulan la micro-circulación. Propiedades remineralizantes durante el baño.</p>
                        <br>
                        <div class="divider"></div> 
                        <br>
                        <p> 380 mg </p>
                        <p> $480.00 </p>
                        <i class="material-icons right">close</i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
