
{% extends 'cuerpo/base.html' %}

{% block content %}

{% load staticfiles %}

    <main>
    {% for message in messages %}
    <h1>{{ message }}</h1>
    {% endfor %}
		<br><br>
		<div class="row">
            <h3 class="head">Inicia Sesion</h3>
			<form class="col s4 offset-s4" method="POST">
				<div class="input-field col s12 m12">
					{% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn waves-effect purple accent-3" type="submit">Iniciar Sesion
					</button>
				</div>
				<div class="col s12">
					<br><br>
					<br><br>
				</div>
				<div class="col s6 offset-s4">
					<a class="btn waves-effect #d500f9 purple accent-3" type="button" name="action" href={% url 'registro' %}>Registrate
					</a>
				</div>
			</form>
		</div>
	</main>

{% endblock %}