
{% extends 'cuerpo/base.html' %}

{% block content %}

{% load staticfiles %}

        <h3></h3>
         <div class="container">
            <h4>Maquillaje</h4>
            <ul class = "collapsible" data-collapsible = "accordion">
               <li>
                  <div class = "collapsible-header">
                     <i class = "material-icons"></i>¿Pestañas bonitas?</div>
                  <div class = "collapsible-body"><p></p></div>
               </li>

               <li>
                  <div class = "collapsible-header">
                     <i class = "material-icons"></i>Oculta tus desvelos</div>
                  <div class = "collapsible-body"><p></p></div>
               </li>

               <li>
                  <div class = "collapsible-header">
                     <i class = "material-icons"></i>Ruborizate</div>
                  <div class = "collapsible-body"><p></p></div>
               </li>

              <li>
                  <div class = "collapsible-header">
                     <i class = "material-icons"></i>¿No tienes tiempo de maquillarte?</div>
                  <div class = "collapsible-body">
                    <p>Sólo maquilla tus cejas para lograr un buen look cuando no tienes tiempo para aplicar más maquillaje</p>
                    <br>
                    <img src="img/tipceja.png">
                  </div>
               </li>
              <li>
                  <div class = "collapsible-header">
                     <i class = "material-icons"></i>¿Tu lapiz delineador ya no pinta?</div>
                  <div class = "collapsible-body">
                    <p>Para intensificar el color de tu lápiz delineador viejo, sólo calientalo unos segundos con un encendedor.</p>
                    <br>
                    <img src="img/tipcalienta.jpg">
                  </div>
               </li>
            </ul>
         </div>

{% endblock %}